<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <button (click)="onlyOdd = !onlyOdd" class="btn btn-primary">Only show {{onlyOdd ? 'Even' : 'Odd'}} numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd; else onlyEven">
          <li *ngFor="let odd of odds" [ngClass]="{odd:odd%2!==0}"
              [ngStyle]="{backgroundColor:onlyOdd?'yellow':'red'}"
              class="list-group-item">{{odd}}</li>
        </div>
        <ng-template #onlyEven>
          <div>
            <li *ngFor="let even of evens" [ngClass]="{odd:even%2!==0}"
                [ngStyle]="{backgroundColor:onlyOdd?'yellow':'transparent'}"
                class="list-group-item">{{even}}</li>
          </div>
        </ng-template>
      </ul>
      <pre appBasicHighlight>Hey There</pre>
      <pre appBetterHighlight>Hey There</pre>
    </div>
  </div>
</div>
