
<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or Blueprints</p>
    <div class="form-group">
      <label for="serverName">Server Name</label>
      <input class="form-control" id="serverName" type="text" [ngModel]="newServerName">
    </div>
    <label for="serverContent">Server Content</label>
    <input class="form-control" id="serverContent" type="text" [ngModel]="newServerContent">
  </div>
</div>
<br>
<div class="row btn-toolbar">
  <button class="btn btn-primary" >Add Server</button>
  <button class="btn btn-primary">Add Blueprint</button>
</div>
